@model IEnumerable<GameBlog.Entities.Posts>

@{
    ViewData["Title"] = "ViewAllPost";
    var category = ViewBag.Category as GameBlog.Entities.Category;
}

<h1>View All Post</h1>

<form class="input-group w-50 float-right" asp-action="Search" method="get">
    <input type="text" class="form-control" placeholder="Search for" name="term" />
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
</form>
<table class="table table-bordered table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pictures)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateSubmitted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var post in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => post.PostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => post.PostName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => post.Pictures)
            </td>
            <td>
                @Html.DisplayFor(modelItem => post.DateSubmitted)
            </td>
            <td class="text-right">
                <a class="btn btn-success btn-sm text-white" asp-controller="Posts" asp-action="Edit" asp-route-PostId="@post.PostId">
                    <i class="fa fa-edit"></i>
                </a>
                <a class="btn btn-warning btn-sm text-white" asp-controller="Posts" asp-action="Detail" asp-route-PostId="@post.PostId">
                    <i class="fa fa-eye"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
